*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #081b29;
    color: #ededed;

}
.header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
   
    
}
.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s ease-in;
  
}
.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}
.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;

}

.home-content h2{
    color: #081b29;
    font-size: 80px;
    font-weight: bold;
    -webkit-text-stroke: 2px #ededed;
    
}
.home-content p{
    font-size: 20px;
    margin: 20px 0 40px;
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
   

}
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 14px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 2s;

}
.btn-box a:hover{
    color: #00abf0;

}
.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}
.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before{
    background: #00abf0;
}
.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    transition: 0.5s;
    z-index: -1;

}
.btn-box a:hover::before{
    width: 100%;
}




.About{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16%;
    background-color: white;
    margin: auto;
   
}

.About-content{
    max-width: 600px;
    top: 0;
    left: 0;
    padding: 30px;
    
    
}
.image {
    position: relative;
    padding-left: 10px;
    top: 20px;
    left: 0;

}
.About-content h3{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    color: #081b29;
    font-style: sans-serif;
    
   

}

.About-content h4{
    color: #081b29;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
   
   
}
.About-content p {
    color: #081b29;
    font-size: 15px;
    margin: 20px 0 20px;

}
.line-above{
    width: 550px;
    height: 1px;
    background-color: #ededed;
    margin: 20px;

   
}

.About-content ul{
    color: #081b29;
    font-size: 15px;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    font-weight: 500;
    position: relative;

}
.btn-box{
    display: flex;
    justify-content: space-between;
    width: 340px;
    height: 45px;
    margin: 50px;
}





.Services {
    min-height: 100vh;
    padding: 20%;
    background-color: white;
    margin: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-content {
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

.services-content h5 {
    color: #081b29;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
}

.column {
    flex: 1;
    padding: 20px;
    background-color: #efefef;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}



@media (maxwidth: 768px) {
    .frame{
        width: 90%;
        margin: 20px;
        padding: 20px;
        flex-direction: column;

    }
    .main-heading{
        font-size: 2rem;
        padding: 10px;
    }
    .inner-content p{
        font-size: 1rem;
    }
}
@media (max-width: 480px) {
    .main-heading {
        font-size: 1.5rem;
    }
    .inner-content p{
        font-size: 0.95rem;
    }
}
    